body {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 300px;
    height: 169px;
    border: 1px solid #021a40;
    border-radius: 8px
}
}